body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/pexels-suzyhazelwood-1995842.jpg");
    background-size: cover;
}

#navbar img {
    width: 70px;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin-top: 15px;
}

.navList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navList a{
    text-decoration: none;
    color: rgb(187, 187, 187);
    top: 40px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.navList a.active {
    color: white;
}

.cover-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10% 30% 16%;
    text-align: center;
}

h1{
    margin-bottom: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4rem;
}

.cover-head p{
    margin: 15px 10px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}

button{
    padding: 10px 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
}

.footer {
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

